body
{
background:sandybrown;
}
h1{
    background:hotpink;
    color:green;
    height:100px;
    text-align:center;
    padding-top:50px;
}
h3{
    background:whitesmoke;
    height:100px;
    text-align: center;
    padding-top: 50px;
    font-size: xx-large;
}
div
{
background:palevioletred;
height:55px;
width:400px;
margin:auto;
text-align: center;
font-size: xx-large;
}
p
{
text-align: center;
padding-top: 25px;
font-size: x-large;
font-weight: bolder;
}
